<div class="col-md-9">
    <section id="main_section">
        <header>
            Clasificación
        </header>

        <alertas data-alertas="alertas"></alertas>

		<article data-ng-repeat="puesto in clasificacion">
		    <p>
		        {{puesto.posicion}} 
		        <a href="#/pronosticosUsuario/{{partida.pa_id}}/{{puesto.usu_id}}">{{puesto.usu_username}}</a>
		        {{puesto.puntos}}
		    </p>
		</article>
	</section>
</div>
<div class="col-md-3">
    <section>
        <header>
            {{partida.pa_nombre}}
            <br/>
            {{user.usu_username}}
        </header>
        <nav>
            <ul>
                <li>
                    <login data-user="user"></login>
                </li>
                <li><a href="#/inicio">Noticias</a></li>
                <li><a href="#/listaPartidas">Partidas</a></li>
                <li><a href="#/mensajesPartida/{{partida.pa_id}}">Mensajes</a></li>
                <li><a href="#/clasificacionPartida/{{partida.pa_id}}">Clasificación General</a></li>
            </ul>
        </nav>
    </section>
</div>