<div class="col-sm-9">
  <section id="main_section">
    <form role="form" data-ng-submit="suscripcionPartidaCtrl.suscripcion()">
      <cabecera>
        <div class="col-xs-2">
          <button class="btn btn-default btn-block" type="button"
            data-history-back title="Volver">
            <span class="glyphicon glyphicon-chevron-left"></span>
          </button>
        </div>
        <div class="col-xs-8">
          <titulo>Suscripción</titulo>
        </div>
        <div class="col-xs-2">
          <button class="btn btn-default btn-block" type="submit" title="Aceptar">
            <span class="glyphicon glyphicon-ok"></span>
          </button>
        </div>
      </cabecera>

      <alertas data-alertas="alertas"></alertas>

      <article class="row">
        <div class="col-xs-offset-2 col-xs-8" data-ng-hide="suscrito">
          ¿Quieres suscribite a la partida {{partida.pa_nombre}}?
        </div>
        <div class="col-xs-offset-2 col-xs-8" data-ng-show="suscrito">
          ¿Quieres cancelar tu suscripción a la partida {{partida.pa_nombre}}?
        </div>
      </article>
    </form>
  </section>
</div>
<div class="col-sm-3">
  <section>
    <header>
      {{partida.pa_nombre}} <br /> {{user.usu_username}} <br />
      <login data-user="user"></login>
    </header>
    <nav>
      <ul class="list-group">
        <li class="list-group-item"><a href="#/inicio">Noticias</a></li>
        <li class="list-group-item"><a href="#/listaPartidas">Partidas</a></li>
        <li class="list-group-item"><a href="#/mensajesPartida/{{partida.pa_id}}">Mensajes</a></li>
        <li class="list-group-item"><a href="#/clasificacionPartida/{{partida.pa_id}}">Clasificación General</a></li>
        <li class="list-group-item"><a href="#/clasificacionEvento/{{partida.pa_id}}">Clasificación Eventos</a></li>
        <li class="list-group-item"><a href="#/pronosticos/{{partida.pa_id}}">Pronósticos</a></li>
        <li class="list-group-item"><a href="#/suscripcionPartida/{{partida.pa_id}}">Suscripción</a></li>
        <li class="list-group-item"><a href="#/adminPartida/{{partida.pa_id}}">Administrar Partida</a></li>
      </ul>
    </nav>
  </section>
</div>