/* CSS para las aplicaciones AAP */

@font-face {
  font-family: 'FiraSans';
  src: url('../lib/fonts/FiraSans/FiraSansOT-Regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

* {
    font-family: 'FiraSans';
}

body {
	background-image: url('../img/fondo.jpg');
	background-position: center top;
    background-repeat: no-repeat;
    background-color: black;
}

.container {
  margin-left: auto;
  margin-right: auto;
  max-width: 960px;
  margin-bottom: 10px;
}

.container > * {
    background-color: white;
}

a {
	text-decoration: none;
}

section {
    padding-top: 35px;
}

#web_footer {
	clear: both;
	text-align: center;
	padding: 20px;
	border-top: 1px solid #C4C0C9;
	border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.panel-heading, .panel-body {
	content: "";
    overflow: hidden;
    text-overflow: ellipsis;
}

.panel-heading p, .panel-body p {
	margin: 0px;
}

/* Estilo para que se conserven los saltos de linea en los textos */
.preformatted {
    white-space: pre-wrap;
}

.cabecera {
	z-index: 1000;
    position:fixed;
    top:0;
    right: 0px;
    left: 0px;
    height: 35px;
}

.cabecera * {
	font-size: 16px;
	border: 0px;
}

.cabecera h1 {
	margin: 10px 0px 0px;
}

.btn-block {
	overflow: hidden;
}

.botonera {
	text-align: right;
}
