/* CSS para las aplicaciones AAP */

@font-face {
  font-family: 'FiraSans';
  src: url('../lib/fonts/FiraSans/FiraSansOT-Regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

* {
    font-family: 'FiraSans';
}

body {
	background-image: url('../img/fondo.jpg');
	background-position: center top;
    background-repeat: no-repeat;
    background-color: black;
}

.container {
  margin-left: auto;
  margin-right: auto;
  max-width: 960px;
}

#contenido {
    background-color: white;
    border-radius: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}

a {
	text-decoration: none;
}

#top_header {
	margin: 20px 5px auto;
}

#top_menu {
	margin-left: 5px;
	margin-bottom: 20px;
}

#main_section {
    margin-left: 5px;
    margin-right: 5px;
}

#main_section h2 {
    margin-bottom: 20px;
}

#side_menu li {
    list-style: none;
    margin-left: 0px;
}

#login_menu {
	margin: 0px 5px 20px 0px;
	
}

#web_footer {
	clear: both;
	text-align: center;
	padding: 20px;
	border-top: 1px solid #C4C0C9;
}

.formulario label {
  display: block;
  margin: .5em 0 0 0;
}

.formulario input {
  margin: 5px auto;
  width: 80%;
}

.menu_horizontal a {
    margin-right: 10px;
}

.menu_horizontal a + a {
	margin-left: 10px;
	/*padding-left: 10px;
	border-left: 1px solid black;*/
}

.panel-heading, .panel-body {
	content: "";
    overflow: hidden;
    text-overflow: ellipsis;
}

.panel-heading p, .panel-body p {
	margin: 0px;
}

/* Estilo para que se conserven los saltos de linea en los textos */
.preformatted {
    white-space: pre-wrap;
}
