/* CSS para las aplicaciones AAP */

body {
	background-image: url('../img/fondo.jpg');
	background-position: center top;
    background-repeat: no-repeat;
    background-color: black;
}

.container {
  margin-left: auto;
  margin-right: auto;
  max-width: 960px;
}

[class^="icon-"],
[class*=" icon-"] {
  background-image: url('../img/glyphicons-halflings.png');
}

#contenido {
    background-color: white;
    border-radius: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}

a {
	text-decoration: none;
}

article {
	border-radius: 5px;
	padding: 5px;
	margin-top: 10px;
    margin-bottom: 10px;
    border: solid rgb(221, 221, 221) 1px;
}

.table-striped tbody > tr:nth-child(2n+1) > td, .table-striped tbody > tr:nth-child(2n+1) > th {
    background-color: #F5F5F5;
}

.table-striped tbody > tr:nth-child(2n) > td, .table-striped tbody > tr:nth-child(2n) > th {
    background-color: #FFFFFF;
}

/* Fondo para la cabecera de los richDataTable */
.table-head {
    background: #D4CFC7;
    background: linear-gradient( 0deg, #D4CFC7, white);
}

.table {
    width: 100%;
}

.table td {
	text-align: left;
}

.table th, td {
	text-align: center;
}

.table tfoot td {
    text-align: center;
}

#top_header {
	margin: 20px 5px auto;
}

#top_menu {
	margin-left: 5px;
	margin-bottom: 20px;
}

#main_section {
    margin-left: 5px;
    margin-right: 5px;
}

#main_section h2 {
    margin-bottom: 20px;
}

#side_menu li {
    list-style: none;
    margin-left: 0px;
}

#login_menu {
	margin: 0px 5px 20px 0px;
	
}

#web_footer {
	clear: both;
	text-align: center;
	padding: 20px;
	border-top: 1px solid #C4C0C9;
}

.formulario label {
  display: block;
  margin: .5em 0 0 0;
}

.formulario input {
  margin: 5px auto;
  width: 80%;
}

.menu_horizontal a {
    margin-right: 10px;
}

.menu_horizontal a + a {
	margin-left: 10px;
	/*padding-left: 10px;
	border-left: 1px solid black;*/
}

article p {
	overflow: hidden;
	text-overflow: ellipsis;
}

/* Estilo para que se conserven los saltos de linea en los textos */
.preformatted {
    white-space: pre-wrap;
}