<div class="col-md-9">
    <section id="main_section">
        <header>Lista de Partidas</header>

		<alertas data-alertas="alertas"></alertas>
		
		<article data-ng-repeat="partida in listaPartidas">
		    <a href="#/mensajesPartida/{{partida.pa_id}}">{{partida.pa_nombre}}</a>
		    <br/>
		    {{partida.pa_descripcion}}
		</article>
	</section>
</div>
<div class="col-md-3">
    <section>
        <header>
            {{partida.pa_nombre}}
            <br/>
            {{currentUser.usu_username}}
        </header>
        <nav>
            <ul>
                <li>
                    <login data-user="user"></login>
                </li>
                <li><a href="#/inicio">Noticias</a></li>
                <li><a href="#/listaPartidas">Partidas</a></li>
            </ul>
        </nav>
    </section>
</div>