<div class="col-sm-9">
  <section id="main_section">
    <form role="form" data-ng-submit="editarEventoCtrl.guardar()">
      <cabecera>
        <div class="col-xs-2">
          <button class="btn btn-default btn-block" type="button"
            data-history-back title="Volver">
            <span class="glyphicon glyphicon-chevron-left"></span>
          </button>
        </div>
        <div class="col-xs-8">
          <titulo>Edita Evento</titulo>
        </div>
        <div class="col-xs-2">
          <button class="btn btn-default btn-block" type="submit" title="Aceptar">
            <span class="glyphicon glyphicon-ok"></span>
          </button>
        </div>
      </cabecera>

      <alertas data-alertas="alertas"></alertas>

      <article>
        <div class="form-group">
          <label for="asunto">Nombre</label>
          <input id="asunto" class="form-control" type="text" required="required" data-ng-model="evento.ev_nombre" placeholder="Nombre..." />
        </div>
        <div class="form-group">
          <label for="lugar">Lugar</label>
          <input id="lugar" class="form-control" type="text" required="required" data-ng-model="evento.ev_lugar" placeholder="Lugar..."/>
        </div>
        <div class="form-group">
          <label for="fecha_evento">Fecha Evento</label>
          <input id="fecha_evento" class="form-control" type="date" required="required" 
            data-ng-model="evento.ev_fecha_evento" data-datefield/>
        </div>
        <div class="form-group">
          <label for="fecha_inicio_pronosticos">Fecha Inicio Pronosticos</label>
          <input id="fecha_inicio_pronosticos" class="form-control" type="date" required="required" 
            data-ng-model="evento.ev_fecha_inicio_pronosticos" data-datefield/>
        </div>
        <div class="form-group">
          <label for="fecha_limite_pronosticos">Fecha Límite Pronosticos</label>
          <input id="fecha_limite_pronosticos" class="form-control" type="date" required="required" 
            data-ng-model="evento.ev_fecha_limite_pronosticos" data-datefield/>
        </div>
        <div class="form-group">
          <label for="referencia">URL Referencia</label>
          <input id="referencia" class="form-control" type="text" data-ng-model="evento.ev_url_referencia" placeholder="URL Wikipedia..."/>
        </div>
      </article>
    </form>
  </section>
</div>
<div class="col-sm-3">
  <section>
    <header>
      {{partida.pa_nombre}} <br /> {{user.usu_username}} <br />
      <login data-user="user"></login>
    </header>
    <nav>
      <ul class="list-group">
        <li class="list-group-item"><a href="#/inicio">Noticias</a></li>
        <li class="list-group-item"><a href="#/listaPartidas">Partidas</a></li>
        <li class="list-group-item"><a href="#/mensajesPartida/{{partida.pa_id}}">Mensajes</a></li>
        <li class="list-group-item"><a href="#/clasificacionPartida/{{partida.pa_id}}">Clasificación General</a></li>
        <li class="list-group-item"><a href="#/clasificacionEvento/{{partida.pa_id}}">Clasificación Eventos</a></li>
        <li class="list-group-item"><a href="#/pronosticos/{{partida.pa_id}}">Pronósticos</a></li>
        <li class="list-group-item"><a href="#/suscripcionPartida/{{partida.pa_id}}">Suscripción</a></li>
        <li class="list-group-item"><a href="#/adminPartida/{{partida.pa_id}}">Administrar Partida</a></li>
      </ul>
    </nav>
  </section>
</div>