<div class="col-sm-9">
  <section id="main_section">
    <header class="cabecera row">
      <div class="col-xs-2">
        <button class="btn btn-default btn-block" type="button"
            data-history-back title="Volver">
          <span class="glyphicon glyphicon-chevron-left"></span>
        </button>
      </div>
      <div class="col-xs-8"><h1>Eventos</h1></div>
      <div class="col-xs-2">
        <button class="btn btn-default btn-block" type="button"
          data-ng-click="eventosCtrl.nuevoEvento()" title="Nuevo">
          <span class="glyphicon glyphicon-plus"></span>
        </button>
      </div>
    </header>

    <alertas data-alertas="alertas"></alertas>

    <article>
      <ul class="list-group">
        <li class="list-group-item" data-ng-repeat="elemento in listaEventos">
          <a href="#/adminPartida/editarEvento/{{partida.pa_id}}/{{elemento.ev_id}}">
          {{elemento.ev_fecha_evento | date:'dd/MM/yyyy'}}: {{elemento.ev_nombre}} - {{elemento.ev_lugar}}
          </a>
        </li>
      </ul>
    </article>
  </section>
</div>
<div class="col-sm-3">
  <section>
    <header>
      {{partida.pa_nombre}} <br /> {{user.usu_username}} <br />
      <login data-user="user"></login>
    </header>
    <nav>
      <ul class="list-group">
        <li class="list-group-item"><a href="#/inicio">Noticias</a></li>
        <li class="list-group-item"><a href="#/listaPartidas">Partidas</a></li>
        <li class="list-group-item"><a href="#/mensajesPartida/{{partida.pa_id}}">Mensajes</a></li>
        <li class="list-group-item"><a href="#/clasificacionPartida/{{partida.pa_id}}">Clasificación General</a></li>
        <li class="list-group-item"><a href="#/clasificacionEvento/{{partida.pa_id}}">Clasificación Eventos</a></li>
        <li class="list-group-item"><a href="#/pronosticos/{{partida.pa_id}}">Pronósticos</a></li>
        <li class="list-group-item"><a href="#/suscripcionPartida/{{partida.pa_id}}">Suscripción</a></li>
        <li class="list-group-item"><a href="#/adminPartida/{{partida.pa_id}}">Administrar Partida</a></li>
      </ul>
    </nav>
  </section>
</div>