/* CSS para las aplicaciones AAP */


a {
	text-decoration: none;
}

.rf-dt {
    width: 100%
}

#top_header {
	margin: 20px auto;
}

#top_menu {
	margin-left: 5px;
	margin-bottom: 20px
}

#side_menu li {
    list-style: none;
    margin-left: 0px;
}

#login_menu {
	margin-bottom: 20px;
}

#web_footer {
	clear: both;
	text-align: center;
	padding: 20px;
	border-top: 1px solid #C4C0C9;
}

.formulario label {
  display: block;
  margin: .5em 0 0 0;
}

.formulario input a {
  display: inline-block;
  margin: 5px auto;
}

.menu_horizontal a {
    margin-right: 10px;
}

.menu_horizontal a + a {
	margin-left: 10px;
	/*padding-left: 10px;
	border-left: 1px solid black;*/
}

.preformatted {
    white-space: pre;
}