<div class="col-sm-9">
  <section id="main_section">
    <cabecera>
      <div class="col-xs-2"></div>
      <div class="col-xs-8"><titulo>Noticias</titulo></div>
      <div class="col-xs-2"></div>
    </cabecera>

    <alertas data-alertas="alertas"></alertas>

    <article class="panel panel-default"
      data-ng-repeat="noticia in listaNoticias">
      <div class="panel-heading">( {{noticia.no_fecha |
        date:'dd/MM/yyyy HH:mm'}} ) - {{noticia.no_asunto}}</div>
      <div class="panel-body">
        <p class="preformatted">{{noticia.no_texto}}</p>
      </div>
    </article>
  </section>
</div>
<div class="col-sm-3">
  <section>
    <header>
      <br /> {{user.usu_username}} <br />
      <login data-user="user"></login>
    </header>
    <nav>
      <ul class="list-group">
        <li class="list-group-item"><a href="#/inicio">Noticias</a></li>
        <li class="list-group-item"><a href="#/listaPartidas">Partidas</a></li>
      </ul>
    </nav>
  </section>
</div>